<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname"><img src="/images/help_h2.gif" width="126" height="48" /></div>
</h2>
<div class="shopLbox">
	<div class="helpL">
		<ul>
			<li><span class="on"><a href="/help/after_service">退换货政策</a></span></li>
			<li><span><a href="/help/after_service#how">如何办理退换货</a></span></li>

		</ul>
		<img src="/images/help_sign.gif" width="164" height="323" />
	</div>


	<div id="help_content">
  		
	    <h1>如果收到商品不满意怎么办？是否可办理退换？</h1>
	     <p> 自客户签收商品之日起30日内，商品在未经开启，无人为破损的情况下，如您对我们的商品不满意，我们将提供退换货的服务。<br />
	    特殊说明：<br />
	    1. 退货发生时，由于客户原因造成的退货，运费由会员自行承担（以当时运费为准）；如因12doo原因或商品质量问题而造成的退货，12doo将退还您商品的货款金额及相应运费。运费标准为上海地区：10元/单 上海以外地区 20元/单。<br />
	    2. 套装商品（在订单中显示为一行的商品）不可部分退货。<br />
	    3. 商品品附带有赠品的，需将赠品一同退回。如赠品一经拆包或使用，则订单商品只换不退。如有不便，敬请谅解。<br />
	    4. 退货时请同时退回已经开据的发票及商品发货单，请于购买商品后妥善保管购物发票及商品发货单，如因客户原因无法退回发票或商品发货单的，将可能导致无法进行退货。<br />
	    5. 通常情况下，一张订单只能进行一次退换货操作，所以为了确保您的权益，请您明确后与我们联系。<br />
	    6. 图片及信息仅供参照，商品将以实物为准。因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有一定色差，不属质量问题。<br />
	    注：12doo退换货政策于2011年6月1日起生效，所有即日起生成的订单将按此执行。<br />
	</p>
	    <a name="how" id ="how"></a>
	    <h1>如何办理退款？</h1>
	     <p> 如您需办理退款，请联系我们的帮助中心，经客服工作人员核实完整收到您退回的商品后会在当天为您办理退款，以下为退款方式及时间：<br />
      1. 网上支付退款：根据中国的金融管理要求，所有网上支付的退款都是直接通过您支付的原路径退还到您的付款帐户中。例如您原本使用支付宝余额进行网上支付，退款将进入您的支付宝余额；如果您原本使用信用卡进行网上支付，退款将回到您的信用卡中。<br />
      正常退款周期：一般会在当天退款到帐。
      我们每天都需要操作审核大量订单并服务大量客户，有可能不能在您提出要求后立刻完成退款操作，但我们承诺在当天完成退款操作。不排除由于支付平台的原因导致退款延迟到帐，12doo不能为第三方服务商的行为承担责任，但我们一定会积极协助跟踪服务到底。<br />
	    2. 送货上门时现金付款：我们一般会在和您协商好退货费用后上门收取退货并直接退换现金。<br />
	    正常退款周期：上门收取退货的安排和发货安排一样，我们会在协商好的时间（最快第二天）上门取货退款。遇到特殊情况时，我们会及时和您电话联系协商。<br />
	  </p>
	</div>   


   	<!--#sort-->         
	<div class="clearit"></div>
</div>
