<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname"><img src="/images/help_h2.gif" width="126" height="48" /></div>
</h2>
<div class="shopLbox">
	<div class="helpL">
		<ul>
			<li><span class="on"><a href="/help/delivery">货到付款城市及配送时间</a></span></li>
			<li><span><a href="/help/delivery#cost">配送费收取标准</a></span></li>

		</ul>
		<img src="/images/help_sign.gif" width="164" height="323" />
	</div>

	<div id="help_content">
  		<h1>哪些城市可以货到付款？订单完成后多长时间送达？</h1>
   		<p>   当前首先开通了上海市区的送货上门货到付款服务。</p>
 
	    <h1>送货方式有哪几种？</h1>
	     <p> 12doo 特别重视客户体验，目前仅开通上海市区的送货上门服务。<br />
	  <br />
	    我已经申请了退换货，你们快递什么时间上门来取货？<br />
	    目前，我们在上海开通了上门取货办理退换货的服务。您通过我们的帮助中心进行电话申请后， 1-2 天内配送人员会上门去取货或者换货。退货的1-2天后待质检入库完成后即为您办理退款。<br />
	</p>
	    <a name="cost" id="cost"></a>
	    <h1>配送费如何收取？</h1>
	     <p> 订单购物金额满200元可免除配送费。送货上门配送费为20元/单<br />

	   <h1>订单生成后我需要多长时间内支付？</h1>
	     <p> 选择网上支付，如果超过48小时未能成功支付，系统将自动取消订单。<br /></p>
	 
	</div>   


   	<!--#sort-->         
	<div class="clearit"></div>
</div>
