<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname"><img src="/images/help_h2.gif" width="126" height="48" /></div>
</h2>
<div class="shopLbox">
	<div class="helpL">
		<ul>
			<li><span class="on"><a href="/help/new_user">注册新用户</a></span></li>
			<li><span><a href="/help/new_user#flow">网站订购流程</a></span></li>
			<li><span><a href="/help/new_user#point">积分规则</a></span></li>
		</ul>
		<img src="/images/help_sign.gif" width="164" height="323" />
	</div>
	<div id="help_content">
	
	    <h1>用户注册</h1>
	    <p>和所有网上购物一样，您在能够订购产品之前需要注册一个用户帐号。12doo只需要您用一个您能收到邮件的邮箱地址作为帐号进行注册，密码需要6位以上。目前我们没有做其他限制，如果将来有变化，将会</p>
  		
  		<a name="flow" id="flow"></a>
  		<h1>订购流程</h1>
	    <p>我们尝试尽量将网站设计成最方便您进行挑选购买。购买商品的流程和其他网上购物没有区别：您找到需要的商品后，加入购物车，进入结帐台填写必要的信息确认订单，最后会进入支付网站。 我们强烈建议您直接通过网站下订单。另外您也可以拨打我们的热线电话 188-021-51236 来联系我们订购。<br />
 
      <a name="point" id="point"></a>
	    <h1>积分规则</h1>
	     <p>12doo红酒网对用户支付的每一元钱进行积分。网上支付每元积100分，货到付款每元积80分，积分从支付第二天起默认有效期一年，在积分有效期内可以按照每1000积分抵扣10元的方式抵扣实际应付货款（不足1000积分不可用于抵扣货款）。<br/> 
	     12doo红酒网还会不定期赠送用户优惠券或额外积分，为您提供最实际的价格优惠。敬请关注！<br />
	</div>   
   	<!--#sort-->         
	<div class="clearit"></div>
</div>
