<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname"><img src="/images/help_h2.gif" width="126" height="48" /></div>
</h2>
<div class="shopLbox">
	<div class="helpL">
		<ul>
			<li><span class="on"><a href="/help/pay_for">支付方式</a></span></li>
			<li><span><a href="/help/pay_for#wait">各支付方式的付款等待期限</a></span></li>
			<li><span><a href="/help/pay_for#desc">如何获得发票</a></span></li>

		</ul>
		<img src="/images/help_sign.gif" width="164" height="323" />
	</div>


	<div id="help_content">
    <h1>如何付款？</h1>
	     <p> 我们为您提供多种结算方式，您可以根据自身情况选择以下集中方式支付货款：<br />
	    货到付款：配送员送货上门，客户收单验货后，直接将货款交给配送员。<br />
	    网上支付：通过支付宝的支付网关，您可以用开通网上付款的银行卡进行网上支付<br />
	  </p>
	  
	  <a name="wait" id="wait"></a>
	  <h1>各支付方式的付款等待期限</h1>
	
	  <a name="desc" id="desc"></a>	
	  <h1>如何获得发票？</h1>
	    <p> 获得发票的方式：<br />
	    (1) 电话订购时，确认好所需要的产品后，请将您的发票抬头告知销售人员。发票将单独邮寄。<br />
	    (2) 如您在网站订购，请在提交订单前在 “ 您是否需要开具发票 ” 处选择 “ 是 ” ，并填写发票抬头。发票将单独邮寄。<br />
	    说明：<br />
	    (1) 提供的发票为葡萄酒专用发票，品名为实际商品名称，金额为产品折扣后实际付款金额。此发票可用作单位报销使用。<br />
	    (2) 一张订单对应一张发票，发票通常在您收到商品后七个工作日内以挂号信方式寄出，如遇春节、国庆等长假，有可能延期。<br />
	    (3) 配送费金额不包含在订单发票金额中。<br />
	    </p>
	</div>   

   	<!--#sort-->         
	<div class="clearit"></div>
</div>
