<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname"><img src="/images/help_h2.gif" width="126" height="48" /></div>
</h2>
<div class="shopLbox">
	<div class="helpL">
		<ul>
			<li><span class="on"><a href="/help/qa">常见热点问题</a></span></li>
			<li><span><a href="/help/qa#contact">联系我们</a></span></li>
			<li><span><a href="/help/qa#suggest">投诉与建议</a></span></li>
			<li><span><a href="/help/qa#groupon">团购规则</a></span></li>

		</ul>
		<img src="/images/help_sign.gif" width="164" height="323" />
	</div>

	<div id="help_content">

	    <h1>常见热点问题 </h1>
	    <p> 
	    您真的有很多问题么？请参考以下方法联系我们，让我们陪您聊天吧 :)
	    </p>
	
	    <a name="contact" id="contact"></a>
	    <h1> 联系我们</h1>
	    <p> 12doo的服务电话是18802151236，可接听时间是每天上午9:00至晚上22:30。如果您在此时间以外拨打该号码，我们将在工作时间给您回电，如果无法接通或无人接听，最多在一天内尝试回拨三次。<br />
	    12doo 的工作地址是蒙自路制造局1号205，此地点可以预约上门提货。
	    </p>
	    
	    <a name="suggest" id="suggest"></a>
	    <h1> 投诉与建议</h1>
	    <p> 
	    请拨打上面的服务电话进行反馈，非常感谢您对12doo的支持。虽然不是所有反馈最终会被我们接纳并为您改变，但是我们永远尊重您的意见，并随时聆听。
	    </p>
	    
	    <a name="groupon" id="groupon"></a>
	    <h1> 团购规则</h1>
	    <p> 
	    请关注我们的促销活动。如果您注册了我们的会员，我们会在第一时间给您发送电子邮件将我们的优惠促销活动通知到您。
	    </p>
	    
	</div>   


   	<!--#sort-->         
	<div class="clearit"></div>
</div>
