<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname"><img src="/images/help_h2.gif" width="126" height="48" /></div>
</h2>
<div class="shopLbox">
	<div class="helpL">
		<ul>
			<li><span class="on"><a href="/help/qa">常见热点问题</a></span></li>
			<li><span><a href="/help/qa#contact#">联系我们</a></span></li>
			<li><span><a href="/help/qa#suggest">投诉与建议</a></span></li>
			<li><span><a href="/help/qa#groupon">团购规则</a></span></li>
			<li><span><a href="/help/qa#links">友情链接</a></span></li>
		</ul>
		<img src="/images/help_sign.gif" width="164" height="323" />
	</div>
<%= render :partial => "helpcontent" %>
   	<!--#sort-->         
	<div class="clearit"></div>
</div>
