<p><%= @user.display_name -%> 您好！</p>

<p>感谢您注册<a href="www.12doo.com">12doo红酒网</a>。</p>

<p>Welcome <%= @user.display_name -%>!</p>

<p>Thank you for join <a href="www.12doo.com">12doo</a>.  We will do our best to serve you.</p>
