<p><%= @resource.display_name -%> 您好！</p>

<p>感谢您注册<a href="www.12doo.com">12doo红酒网</a>。</p>

<p>Welcome <%= @resource.email -%>!</p>

<p>Thank you for joing <a href="www.12doo.com">12doo</a>.  We will do our best for you.</p>
