@charset "utf-8";
* {
	margin:0;/* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding:0;
}
body  {
	width: 100%; /* 指定全页面宽度 */
	margin: 0 auto; /* 指定全页面居中 */
	background: #500000;  
	font-size: 14px; /* 指定全页面字体 */
	color: #333; 
}
ul {
	list-style-type:none;
}

img {
	border:none;
}

#topnav{
	width: 100%;
	height: 27px;
	margin: 0;
	border-bottom :1px solid #DBE0E4;
	background-color:#ddd;
	z-index:999;
	position:fixed;
	top:0;
    background:url(../img/sprite_line.gif) repeat-x 0 -378px; 
	_position:absolute; /* for IE6 */
	_top: expression (documentElement.scrollTop+documentElement.clientHeightthis.offsetHeight); /* for IE6 */
	overflow:visible;
	font-size: 12px;
}
#topnav ul {
	margin:0 0 0 120px;
	height:27px;
	line-height:27px;
}
#topnav ul li{
	display:inline-block;
	height:27px;
	background:url(../img/sprite.gif) no-repeat -409px -1px;
	float:left;
	padding:0 8px 0 10px;
	vertical-align:middle;
	text-align:center;
}
#topnav ul li.first {
	background:none;
}
#topnav ul li a {
	display:inline-block;
	height:27px;
	color:navy;
	text-decoration:none;
}
#topnav ul li a:hover {
	text-decoration:underline;
}




#header {
	width:960px;
	margin:43px auto 0 auto;
	background: #fff;
	height:auto;
} 

#headlogo{
	width: 190px;
	height: 90px;
	background:#fff;
	display:block;
	float:left;

}
#headlogo img{
	margin:0 auto 0 35px;
	border:0;
}

#headbanner {
	width: 740px;	
	height: 50px;
	border: 0px;
	background:white;
	float:left;
	padding: 10px;
}
#mainmenu {
	width:320px;
	height:30px;
	float:left;
}
#mainmenu ul {
	display:inline-block;
	height:30px;
	line-height:30px;
	font-size:14px;
}
#mainmenu ul li{
	display:inline;
	height:30px;
	border-top:1px solid pink;
	border-left:1px solid pink;
	float:left;

}
#mainmenu ul li.end{
	padding:0;
}
#mainmenu ul li a {
	display:inline-block;
	height:30px;
	color:navy;
	padding:0 10px;
	text-decoration:none;
}
#mainmenu ul li a:hover {
	background:#680000;
	color:lightyellow;	
}

#searchblock {
	display:inline-block;
	height:30px;
	line-height:30px;
	margin:0 10px;
	float: right;
	font-size:12px;
}
#searchblock form input.search {
	width: 220px;
	line-height: 30px;

}
#searchblock form input.search-submit {
	width: 65px;
	height: 30px;
	line-height:30px;
}

#container {
	width:960px; 

	background:white;
	margin:0 auto; /* the auto margins (in conjunction with a width) center the page */
	border:0;
	text-align: left; /* this overrides the text-align: center on the body element. */

} 

#leftcontainer {
	width: 180px;  
	float: left; 	
}
.sidebar {
	float: left; /* since this element is floated, a width must be given */
	width: 158px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	border: 1px solid pink; 
	margin:10px;
}
.sidebar h1 {
	display:block;
	font-size:14px;
	height:25px;
	line-height:25px;
	font-weight:normal;
	background:pink;
	text-align:center;
}
.sidebar ul {
	margin:0;
	text-align:center;
}
.sidebar ul a {
	display:block;
	color:navy;
	text-decoration:none;
}
.sidebar ul a:hover {
	background:#680000;
	color:lightyellow;
}

#maincontent {
	float:right;
	width:780px;
	margin:0 ;
	height:auto;
	border: 0;
	padding:0;
	
} 

.content {
	width:738px;
	margin:0 10px;
	height:auto;
	border:1px solid pink;
	padding:10px;
}

/* this is a big picture with less info product list block */
.bigwine{
	width:175px;
	height:320px;
	margin:10px;
	border:0;
	float:left;
	background:#ffefef;
}
.bigwine img{
	display:block;
	width:173px;
	height:173px;
	margin:0;
	border:1px solid pink;

}
.bigwine h1{
	display:block;
	height:55px;
	margin:5px 5px;	
	font-size:14px;
	line-height:18px;
	font-weight:bold;
}

.bigwine .sku{
	display:block;
	margin:0 20px;
	font-size:12px;
	line-height:16px;
	color:#666;
	font-weight:lighter;
	text-align:center;
}

.bigwine .price{
	display:block;
	margin:0 20px;
	font-size:14px;
	line-height:16px;
	color:#500000;
	font-weight:bold;
    text-align:center;
}
.bigwine .save{
	display:block;
	height:auto;
	margin:0 20px;
	font-size:12px;
	line-height:16px;
	color:#500000;
	font-weight:normal;
	text-align:center;
}

.addcart{
	margin:0px auto;
	color:#500000;
	font-weight:bold; 	
}

.addcart a{
	display:block;
	font-size:16px;
	line-height:31px;
	background:url(../img/buybutton.gif) no-repeat center;
	text-align:center;
	color:lightyellow;
	text-decoration:none;		
}

.addcart a:hover{
	background:url(../img/buybutton2.gif) no-repeat center;
	color:#500000;	
}

/* this is a small picture with more detail info product list block */
.smallwine{
	width: 760px;
	height:100px;
	margin:0 10px;
/*	background:url(../img/smallwinepic.png) right no-repeat; */
	border-top: 1px solid pink;	
	color:#500000;
}


	
.smallwine img{
	width:100px;
	height:100px;
	background:lightblue;
	float:left;
	margin:0 20px;
}
.smallwine .fullname{
	width:455px;
	height:16px;
	overflow: hidden;
	float:left;
	margin-top:5px;
	padding:0;
	background:blue;
	background:green;
}

.smallwine .fullname h1{
	font-size:14px;
	font-weight:bold;

}

.smallwine .fullname h1 a{
	color:#500000;
	text-decoration:none;
}
.smallwine .fullname h1 a:hover{
	
	text-decoration:underline;
}

.smallwine .brief{
	width:455px;
	height:45px;
	overflow: hidden;
	float:left;
	margin-top:3px;
	padding:0;
	background:blue;
}
	
.smallwine .brief p{
	color:#666;
	font-size:12px;
	font-weight:normal;
	
}

.smallwine .buyblock{
	width:120px;
	height:100px;
	
	float:right;
	top:-21px;
	position:relative ;

	margin:0 20px;
	background:red;
}

.smallwine .buyblock .sku{
	display:block;
	width:120px;
	height:auto;
	margin-top:10px;
	margin-bottom:2px;
	font-size:12px;
	color:#666;
	font-weight:lighter;
}

.smallwine .buyblock .price{
	display:block;
	width:120px;
	height:auto;
	margin:2px auto;
	font-size:14px;
	color:#500000;
	font-weight:bold;
}
.smallwine .buyblock .save{
	display:block;
	width:120px;
	height:auto;
	margin:2px auto;
	font-size:12px;
	color:#500000;
	font-weight:normal;
}




.fillblank {
	clear:both;
	height:0;
}

#footer {
	clear:both;
	width:960px;
	margin:10px auto;
	height:600px;
	background:white;
} 

#footer ul {
	list-style-type:none;
	color:blue;
	height:20px;
	line-height:20px;
	text-align:center;
}
#footer ul li {
	display:inline;
}

#bottom {
	width:960px;
	margin: 0 auto;
	height:40px;	
}

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 0px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 0px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
