div.pagination {
    padding: 0px;
    margin: 0px;        
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    
    text-decoration: none; /* no underline */
    color: #000099;
}
div.pagination a:hover, div.pagination a:active {
    border: 1px solid #000099;

    color: #000;
}
div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
    }
div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;

    color: #DDD;
}
.pagination em{
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    float: left;
    font-weight: bold;
    background-color: #009999;
    color: #FFF;
    }
.pagination span.gap{
    display: inline-block;
    float: left;

}
