<div class="clearit bj-sp10"></div>
<div id="mlist_detail">
	<div id="welcome_bg">
		<div class="f-black-14-YaHei">
			验证成功！<br />
			欢迎加入12度。<br />
			<a href="/">开始购物。</a>
		</div>
	</div>
</div>
<div class="clearit"></div>