<script type="text/javascript">
$(document).ready(function(){
	$('#loginName').keydown(function(e){ 
		if(e.keyCode == 13){ 
			$('#forgetten_psw').submit();
		} 
	});
	
	$('#loginName').focus();
});
</script>
<div id="join_now"><img src="/images/fogtten_password_title.gif" width="379" height="42" /></div>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :id => :forgetten_psw }) do |f| %>
<%= render 'devise/alert' %>
  <table id="reg_table" border="0" cellspacing="0" cellpadding="0">
	  <tr>
    	<td class="tdtitle"><img src="/images/reg_username.gif" width="108" height="19" /></td>
    	<td><label><%= f.text_field :email, :class => :areabox, :size => '30', :id => :loginName %></label><span class="ipterror"></span></td>
    </tr>
  	<tr>
  	  <td> </td>
    	<td>
			  <div id="reg_submit">
				  <a href="javascript:$('#forgetten_psw').submit();">
					  <img src="/images/fogtten_password_btn.gif" width="197" height="53" />
				  </a>
			  </div>
		  </td>
  	</tr>
  </table>
<% end %>

<div class="clearit"></div>
