<!--酒评-->
<div class="i_title3">
    <img src="/images/winetitle2.jpg" class="left">
</div>
<div class="i_rightcon1" id="memberAskTop" style="overflow: hidden;">
    <div id="memberAskContent">
        <dl>
            <dt>
                <a href="http://www.yesmywine.com/goods/5144236.html"><img src="/images/60x98(5).jpg"></a>
            </dt>
            <dd class="snf5">
                <a href="http://www.yesmywine.com/goods/5144236.html">新春礼炮组合</a>
            </dd>
            <dd>
                听介绍不错，但不知道是不是真的可以
            </dd>
            <dd class="snf8">
                2011-01-20 17:02
            </dd>
        </dl>
        <dl>
            <dt>
                <a href="http://www.yesmywine.com/goods/5144338.html"><img src="/images/60x98(6).jpg"></a>
            </dt>
            <dd class="snf5">
                <a href="http://www.yesmywine.com/goods/5144338.html">满院春光新春大礼包</a>
            </dd>
            <dd>
                超值的一款自家小聚组合：）
            </dd>
            <dd class="snf8">
                2011-01-20 16:39
            </dd>
        </dl>
        <dl>
            <dt>
                <a href="http://www.yesmywine.com/goods/3526.html"><img src="/images/60x98(7).jpg"></a>
            </dt>
            <dd class="snf5">
                <a href="http://www.yesmywine.com/goods/3526.html">卓林普劳塞考特级起泡葡萄酒</a>
            </dd>
            <dd>
                性价比不错 口味偏淡
            </dd>
            <dd class="snf8">
                2011-01-20 16:37
            </dd>
        </dl>

        <dl>
            <dt>
                <a href="http://www.yesmywine.com/goods/14436.html"><img src="/images/60x98(17).jpg"></a>
            </dt>
            <dd class="snf5">
                <a href="http://www.yesmywine.com/goods/14436.html">恭黛丽城堡干红葡萄酒</a>
            </dd>
            <dd>
                据说这款酒在法国只有四欧元左右？不知道也买网在推出酒品的同时，是否可以把原产地的参考价也提示出来呢？
            </dd>
            <dd class="snf8">
                2011-01-20 15:54
            </dd>
        </dl>

    </div>

</div>
<!--end 酒评-->
