<!--热卖-->
<div class="i_title1">
  <img src="/images/hottitle.jpg" class="left">
  <div class="i_hottxt">
      <span class="snf4" id="hot_title01">本周售出最多</span>
      <span class="i_hotcolor">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="snf5" id="hot_title02">本月售出最多</span>
      <span class="i_hotcolor">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="snf5" id="hot_title03">年度售出最多</span>
  </div>
  <a href="http://www.yesmywine.com/goods/goodsList.jspa?OtherType=hot" class="right" target="_blank">更多</a>
</div>
<div id="hot_box">
  <div class="i_boxleft" id="hot_box01" style="display:block">
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank"><img src="/images/110x180.jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2087</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank">拉格内城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：168元</span>
              <br>
              会员价：<span class="snf4">136元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10786.html" target="_blank"><img src="/images/110x180(1).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1921</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10786.html" target="_blank">罗纳山麓修女院红...</a>
              <br>
              <span class="delline snf8">市场价：127元</span>
              <br>
              会员价：<span class="snf4">112元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank"><img src="/images/110x180(2).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1632</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank">乐爱尔城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：166元</span>
              <br>
              会员价：<span class="snf4">68元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/1125.html" target="_blank"><img src="/images/110x180(3).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>364</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/1125.html" target="_blank">意大利弗莱斯凯罗...</a>
              <br>
              <span class="delline snf8">市场价：78元</span>
              <br>
              会员价：<span class="snf4">49元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/8024.html" target="_blank"><img src="/images/110x180(4).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>283</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/8024.html" target="_blank">大图娜城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：169元</span>
              <br>
              会员价：<span class="snf4">68元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/2922.html" target="_blank"><img src="/images/110x180(5).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>230</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/2922.html" target="_blank">意大利之花甜型起...</a>
              <br>
              <span class="delline snf8">市场价：137元</span>
              <br>
              会员价：<span class="snf4">110元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/4225.html" target="_blank"><img src="/images/110x180(6).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>210</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/4225.html" target="_blank">康纳斯顿梅洛红葡...</a>
              <br>
              <span class="delline snf8">市场价：86元</span>
              <br>
              会员价：<span class="snf4">68元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10827.html" target="_blank"><img src="/images/110x180(7).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>153</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10827.html" target="_blank">冰飞艳起泡酒...</a>
              <br>
              <span class="delline snf8">市场价：134元</span>
              <br>
              会员价：<span class="snf4">118元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/300.html" target="_blank"><img src="/images/110x180(8).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>131</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/300.html" target="_blank">德国贵族冰甜白葡...</a>
              <br>
              <span class="delline snf8">市场价：158元</span>
              <br>
              会员价：<span class="snf4">135元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/1601.html" target="_blank"><img src="/images/110x180(9).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>125</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/1601.html" target="_blank">意大利弗莱斯凯罗...</a>
              <br>
              <span class="delline snf8">市场价：155元</span>
              <br>
              会员价：<span class="snf4">98元</span>
          </p>
      </div>
  </div>
  <div class="i_boxleft" id="hot_box02" style="display:none">
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank"><img src="/images/110x180.jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>3171</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank">拉格内城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：168元</span>
              <br>
              会员价：<span class="snf4">136元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/5144062.html" target="_blank"><img src="/images/110x180(10).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2580</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/5144062.html" target="_blank">歌兰酒庄月光干红...</a>
              <br>
              <span class="delline snf8">市场价：188元</span>
              <br>
              会员价：<span class="snf4">138元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/14604.html" target="_blank"><img src="/images/110x180(11).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2278</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/14604.html" target="_blank">歌兰酒庄枫丹干红...</a>
              <br>
              <span class="delline snf8">市场价：168元</span>
              <br>
              会员价：<span class="snf4">128元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10786.html" target="_blank"><img src="/images/110x180(12).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2020</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10786.html" target="_blank">罗纳山麓修女院红...</a>
              <br>
              <span class="delline snf8">市场价：127元</span>
              <br>
              会员价：<span class="snf4">112元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank"><img src="/images/110x180(13).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1645</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank">乐爱尔城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：166元</span>
              <br>
              会员价：<span class="snf4">68元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/2922.html" target="_blank"><img src="/images/110x180(5).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1278</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/2922.html" target="_blank">意大利之花甜型起...</a>
              <br>
              <span class="delline snf8">市场价：137元</span>
              <br>
              会员价：<span class="snf4">110元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/300.html" target="_blank"><img src="/images/110x180(14).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1023</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/300.html" target="_blank">德国贵族冰甜白葡...</a>
              <br>
              <span class="delline snf8">市场价：158元</span>
              <br>
              会员价：<span class="snf4">135元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/1125.html" target="_blank"><img src="/images/110x180(15).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>963</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/1125.html" target="_blank">意大利弗莱斯凯罗...</a>
              <br>
              <span class="delline snf8">市场价：78元</span>
              <br>
              会员价：<span class="snf4">49元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/5903.html" target="_blank"><img src="/images/110x180(16).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>667</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/5903.html" target="_blank">凯富庄园花束设拉...</a>
              <br>
              <span class="delline snf8">市场价：105元</span>
              <br>
              会员价：<span class="snf4">80元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/4225.html" target="_blank"><img src="/images/110x180(17).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>561</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/4225.html" target="_blank">康纳斯顿梅洛红葡...</a>
              <br>
              <span class="delline snf8">市场价：86元</span>
              <br>
              会员价：<span class="snf4">68元</span>
          </p>
      </div>
  </div>
  <div class="i_boxleft" id="hot_box03" style="display:none">
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/1125.html" target="_blank"><img src="/images/110x180(18).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>5576</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/1125.html" target="_blank">意大利弗莱斯凯罗...</a>
              <br>
              <span class="delline snf8">市场价：78元</span>
              <br>
              会员价：<span class="snf4">49元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank"><img src="/images/110x180(19).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>3435</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank">拉格内城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：168元</span>
              <br>
              会员价：<span class="snf4">136元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/14603.html" target="_blank"><img src="/images/110x180(20).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2832</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/14603.html" target="_blank">歌兰酒庄拉罗斯干...</a>
              <br>
              <span class="delline snf8">市场价：188元</span>
              <br>
              会员价：<span class="snf4">138元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/5144062.html" target="_blank"><img src="/images/110x180(21).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2581</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/5144062.html" target="_blank">歌兰酒庄月光干红...</a>
              <br>
              <span class="delline snf8">市场价：188元</span>
              <br>
              会员价：<span class="snf4">138元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/14604.html" target="_blank"><img src="/images/110x180(22).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2526</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/14604.html" target="_blank">歌兰酒庄枫丹干红...</a>
              <br>
              <span class="delline snf8">市场价：168元</span>
              <br>
              会员价：<span class="snf4">128元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/300.html" target="_blank"><img src="/images/110x180(23).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2135</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/300.html" target="_blank">德国贵族冰甜白葡...</a>
              <br>
              <span class="delline snf8">市场价：158元</span>
              <br>
              会员价：<span class="snf4">135元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10786.html" target="_blank"><img src="/images/110x180(1).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>2048</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10786.html" target="_blank">罗纳山麓修女院红...</a>
              <br>
              <span class="delline snf8">市场价：127元</span>
              <br>
              会员价：<span class="snf4">112元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/2922.html" target="_blank"><img src="/images/110x180(24).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1811</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/2922.html" target="_blank">意大利之花甜型起...</a>
              <br>
              <span class="delline snf8">市场价：137元</span>
              <br>
              会员价：<span class="snf4">110元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank"><img src="/images/110x180(25).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1703</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank">乐爱尔城堡干红葡...</a>
              <br>
              <span class="delline snf8">市场价：166元</span>
              <br>
              会员价：<span class="snf4">68元</span>
          </p>
      </div>
      <div class="ileft_box">
          <div class="ileft_img">
              <a href="http://www.yesmywine.com/goods/5903.html" target="_blank"><img src="/images/110x180(26).jpg" border="0" align="absmiddle"></a>
              <div class="index_hotbg">
                  售出<strong>1400</strong>
                  瓶
              </div>
          </div>
          <p>
              <a href="http://www.yesmywine.com/goods/5903.html" target="_blank">凯富庄园花束设拉...</a>
              <br>
              <span class="delline snf8">市场价：105元</span>
              <br>
              会员价：<span class="snf4">80元</span>
          </p>
      </div>
  </div>
</div>
<div class="i_boxright" style="border:0px;">
  <div class="i_boxright">
      <div class="i_box1" onmouseover="addtopwine1();">
          <a onmouseover="addtopwine1();" class="boxright_title">歌西雅薄若莱新红葡萄酒2010</a>
          <div id="i_boxdiv1" onmouseover="addtopwine1();">
              <a href="http://www.yesmywine.com/goods/5143674.html" target="_blank"><img src="/images/0111a.jpg" border="0"></a>
          </div>
      </div>
      <div class="i_box1" onmouseover="addtopwine2();">
          <a onmouseover="addtopwine2();" class="boxright_title">灵格弗庄园阿尔萨斯西瓦娜白葡萄酒&gt;</a>
          <div id="i_boxdiv2" onmouseover="addtopwine2();">
              <a href="http://www.yesmywine.com/goods/14526.html" target="_blank"><img src="/images/1008_1a.jpg" border="0"></a>
          </div>
      </div>
      <div class="i_box1" onmouseover="addtopwine3();">
          <a onmouseover="addtopwine3();" class="boxright_title">乐爱尔城堡干红葡萄酒</a>
          <div id="i_boxdiv3" onmouseover="addtopwine3();">
              <a href="http://www.yesmywine.com/goods/10783.html" target="_blank"><img src="/images/1213.jpg" border="0"></a>
          </div>
      </div>
      <div class="i_box1" onmouseover="addtopwine4();">
          <a onmouseover="addtopwine4();" class="boxright_title">拉格内城堡干红葡萄酒</a>
          <div id="i_boxdiv4" onmouseover="addtopwine4();">
              <a href="http://www.yesmywine.com/goods/8026.html" target="_blank"><img src="/images/1008_3a.jpg" border="0"></a>
          </div>
      </div>
      <script type="text/javascript">
          function addtopwine1(){
              document.getElementById("i_boxdiv1").style.display = 'block';
              document.getElementById("i_boxdiv2").style.display = 'none';
              document.getElementById("i_boxdiv3").style.display = 'none';
              document.getElementById("i_boxdiv4").style.display = 'none';
          }
          
          function addtopwine2(){
              document.getElementById("i_boxdiv1").style.display = 'none';
              document.getElementById("i_boxdiv2").style.display = 'block';
              document.getElementById("i_boxdiv3").style.display = 'none';
              document.getElementById("i_boxdiv4").style.display = 'none';
          }
          
          function addtopwine3(){
              document.getElementById("i_boxdiv1").style.display = 'none';
              document.getElementById("i_boxdiv2").style.display = 'none';
              document.getElementById("i_boxdiv3").style.display = 'block';
              document.getElementById("i_boxdiv4").style.display = 'none';
          }
          
          function addtopwine4(){
              document.getElementById("i_boxdiv1").style.display = 'none';
              document.getElementById("i_boxdiv2").style.display = 'none';
              document.getElementById("i_boxdiv3").style.display = 'none';
              document.getElementById("i_boxdiv4").style.display = 'block';
          }
      </script>
  </div>
  <div class="boxr_img">
      <a href="http://www.yesmywine.com/goods/5143705.html" target="_blank"><img src="/images/hot1.jpg" align="left" width="304" height="175"></a>
  </div>
</div><!--end 热卖-->
