              <!--新品-->
              <div class="i_title3">
                  <img src="/images/winetitle1.jpg" class="left"><a href="http://www.yesmywine.com/goods/goodsList.jspa?sort=-1&WineType=-1&WineSubType=-1&PriceType=-1&CountryType=-1&AreaType=-1&GrapeType=-1&OtherType=new&suitFlag=-1&situationType=-1&keyword=-1&pageNo=1&paixu=1" target="_blank" class="right">更多</a>
              </div>
              <div class="i_leftcon1" id="xinpin" style="height:273px;">
                  <dl class="product">
                      <dt>
                          <a href="http://www.yesmywine.com/goods/5143523.html" target="_blank"><img src="/images/110x180(58).jpg" border="0"></a>
                      </dt>
                      <dd>
                          <a href="http://www.yesmywine.com/goods/5143523.html" target="_blank">皮埃尔干红葡萄酒</a>
                      </dd>
                      <dd class="delline snf8">
                          市场价：66.0元
                      </dd>
                      <dd>
                          会员价：<span class="snf4">58.0元</span>
                      </dd>
                  </dl>
                  <dl class="product">
                      <dt>
                          <a href="http://www.yesmywine.com/goods/5143908.html" target="_blank"><img src="/images/110x180(59).jpg" border="0"></a>
                      </dt>
                      <dd>
                          <a href="http://www.yesmywine.com/goods/5143908.html" target="_blank">大吕宋城堡</a>
                      </dd>
                      <dd class="delline snf8">
                          市场价：122.0元
                      </dd>
                      <dd>
                          会员价：<span class="snf4">107.0元</span>
                      </dd>
                  </dl>
                  <dl class="product">
                      <dt>
                          <a href="http://www.yesmywine.com/goods/5144062.html" target="_blank"><img src="/images/110x180(21).jpg" border="0"></a>
                      </dt>
                      <dd>
                          <a href="http://www.yesmywine.com/goods/5144062.html" target="_blank">歌兰酒庄月光干红...</a>
                      </dd>
                      <dd class="delline snf8">
                          市场价：188.0元
                      </dd>
                      <dd>
                          会员价：<span class="snf4">138.0元</span>
                      </dd>
                  </dl>
                  <dl class="product">
                      <dt>
                          <a href="http://www.yesmywine.com/goods/5143658.html" target="_blank"><img src="/images/110x180(60).jpg" border="0"></a>
                      </dt>
                      <dd>
                          <a href="http://www.yesmywine.com/goods/5143658.html" target="_blank">罗曼庄园干红葡萄...</a>
                      </dd>
                      <dd class="delline snf8">
                          市场价：88.0元
                      </dd>
                      <dd>
                          会员价：<span class="snf4">77.0元</span>
                      </dd>
                  </dl>
                  <dl class="product">
                      <dt>
                          <a href="http://www.yesmywine.com/goods/5143644.html" target="_blank"><img src="/images/110x180(61).jpg" border="0"></a>
                      </dt>
                      <dd>
                          <a href="http://www.yesmywine.com/goods/5143644.html" target="_blank">河特侯爵干红</a>
                      </dd>
                      <dd class="delline snf8">
                          市场价：225.0元
                      </dd>
                      <dd>
                          会员价：<span class="snf4">198.0元</span>
                      </dd>
                  </dl>
              </div>
              <!--end 新品-->
