<dl>
	
    <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine07.gif"/></a>
    </dd>
    <dt  class="wine_word">
  	<a class="f-black-14-YaHei" href="/item/100326.html">
  		意大利弗莱斯凯罗葡萄酒
	  </a>
    </dt>
    <dt class="grPrice">
  	  <em class="f-grey-12">市场价:119.00元</em>
    </dt>
    <dt class="grPrice">
  	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">78.00</span><span class="f-red-12">元</span></em>
        <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	  </dt>
    
</dl>

