<!--大轮播,广告-->
<div class="dhooo_tab">
    <!--大轮播-->
    <div class="main" id="main2">
        <ul id="content">
            <li>
                <a target="_blank" href="#"><img src="/images/img0107.jpg" title="尊贵名酒系列"></a>
            </li>
            <li>
                <a target="_blank" href="#"><img src="/images/12.gif" title="doo乐新年"></a>
            </li>
            <li>
                <a target="_blank" href="#"><img src="/images/toupiao.jpg" title="投票抢购商品"></a>
            </li>
            <li>
                <a target="_blank" href="#"><img src="/images/7.jpg" title="特价进行时"></a>
            </li>
            <li>
                <a target="_blank" href="#"><img src="/images/7d.jpg" title="超实惠经济装"></a>
            </li>
        </ul>
    </div>
    <ul class="tab_btn_num" id="myTab_btns2">
        <li class="hot">
            <a target="_blank" href="#">尊贵名酒系列</a>
        </li>
        <li class="">
            <a target="_blank" href="#">12doo乐新年</a>
        </li>
        <li class="">
            <a target="_blank" href="#">投票抢购商品</a>
        </li>
        <li class="">
            <a target="_blank" href="#">特价进行时</a>
        </li>
        <li class="">
            <a target="_blank" href="#">超实惠经济装</a>
        </li>
    </ul>
    <!--end 大轮播-->
</div>
<ul class="indexad">
    <!--广告-->
    <li>
        <a href="#" target="_blank"><img src="/images/ad1203.jpg" border="0" width="170" title="限时抢购"></a>
    </li>
    <li class="topcenter_margin">
        <a href="#" target="_blank"><img src="/images/ad0107.jpg" width="169" title="尊贵名酒系列"></a>
    </li>
    <li>
        <a href="#" target="_blank"><img src="/images/02.gif" width="169" border="0" title="doo乐新年"></a>
    </li><!--end 广告-->
</ul><!--end 大轮播,广告-->
