<!--热门分类-->
<h1>热门分类</h1>
<div class="i_box">
    <img src="/images/icon_wine.gif" align="absmiddle"><strong>酒种类</strong>
    <br>
    <span>
      <a href="#">红葡萄酒</a> 　　&nbsp;&nbsp;&nbsp;<a href="#">白葡萄酒</a>
      <br>
      <a href="#">桃红葡萄酒</a> 　&nbsp;&nbsp;&nbsp;<a href="#">起泡酒</a>
      <br>
      <a href="#">加强葡萄酒</a> 　&nbsp;&nbsp;&nbsp;<a href="#">烈酒</a>
    </span>
</div>
<div class="i_box">
    <img src="/images/icon_money.gif" align="absmiddle"><strong>价格</strong>
    <br>
    <span>
      <a href="#">1-99元</a> 　　　&nbsp;&nbsp;<a href="#">100-199元</a>
      <br>
      <a href="#">200-299元</a> 　&nbsp;&nbsp;&nbsp;<a href="#">300-499元</a>
      <br>
      <a href="#">500-799元</a> 　　<a href="#">不限</a>
    </span>
</div>
<div class="i_box">
    <img src="/images/icon_map.gif" align="absmiddle"><strong>国家</strong>
    <br>
    <span>
      <a href="#">法国</a> 　<a href="#">意大利</a> 　<a href="#">澳大利亚</a>
      <br>
      <a href="#">德国</a> 　<a href="#">美国</a> 　　<a href="#">西班牙</a>
      <br>
      <a href="#">智利</a> 　<a href="#">新西兰</a> 　<a href="#">阿根廷</a>
    </span>
</div>

<table width="100%" border="1" align="left" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF">
    <tbody>
        <tr>
            <td height="30" align="center" valign="middle" class="redtd">
                <a href="#">聚会用</a>
            </td>
            <td height="30" align="center" valign="middle">
                <a href="#">约会用</a>
            </td>
            <td height="30" align="center" valign="middle">
                <a href="#">自饮用</a>
            </td>
        </tr>
        <tr>
            <td height="31" align="center" valign="middle">
                <a href="#">商务用</a>
            </td>
            <td height="31" align="center" valign="middle">
                <a href="#">婚宴用</a>
            </td>
            <td height="31" align="center" valign="middle">
                <a href="#">送礼用</a>
            </td>
        </tr>
    </tbody>
</table>
<!--end 热门分类-->
