<div class="i_topleft">
  <%= render 'topleft' %>
</div>

<div class="i_topcenter">
  <%= render 'topcenter' %>
</div>

<div class="i_topright">
  <%= render 'topright' %>
</div>

<div class="i_boxcontent">
  <%#  render 'hotsales' %>
</div>

<div class="i_boxcontent">
  <%= render 'promo' %>
</div>
<!-- 
<div class="i_boxcontent">

  <div class="i_boxlefta">
    <%# render 'new' %>
  </div>
  <div class="i_boxrighta">
    <%# render 'comments' %>
  </div>

</div>
-->

      

