<!--#ad--> 
    		<img src="images/title_pic01.gif" width="950" height="181" />       
<!--#sort-->         
			<div class="sort">
				<img class="titleimg" src="images/TITLE01.gif" width="113" height="43" />
				<div class="sortmore f-black-14-b">
					<a href="#">查看所有产品</a>
				</div>
			</div>
			<div class="goodsResult">
				<ul class="pagePicView">
					<li class="one">
						<dl>
							<dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine01.gif"/></a></dd>
							<dt class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">意大利弗莱斯凯罗葡萄酒</a></dt>
							<dt class="grPrice"><em class="f-grey-12">市场价:119.00元</em></dt>
                            <dt class="grPrice">
								<em>
									<span class="f-red-12">会员价:</span>
									<span class="f-grey-20-Arial">105.00</span>
									<span class="f-red-12">元</span>
								</em>
								<a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                    </dl>
                	</li>
                    <li>
	                	<dl>	
	                        <dd class="grImg"><a href="/item/100326.html"><a href="/item/100326.html"><img src="images/wine/wine02.gif"/></a></dd>
	                    	<dt class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">意大利弗莱斯凯罗葡萄酒</a></dt>
              				<dt class="grPrice"><em class="f-grey-12">市场价:119.00元</em></dt>
                            <dt class="grPrice">
								<em>
									<span class="f-red-12">会员价:</span>
									<span class="f-grey-20-Arial">99.00</span>
									<span class="f-red-12">元</span>
								</em>
                              	<a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                    </dl>
                	</li>
                    <li>
	                	<dl>	
	                        <dd class="grImg"><a href="/item/100326.html"><a href="/item/100326.html"><img src="images/wine/wine02.gif"/></a></dd>
	                    	<dt class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">意大利弗莱斯凯罗葡萄酒</a></dt>
              				<dt class="grPrice"><em class="f-grey-12">市场价:119.00元</em></dt>
                            <dt class="grPrice">
								<em>
									<span class="f-red-12">会员价:</span>
									<span class="f-grey-20-Arial">99.00</span>
									<span class="f-red-12">元</span>
								</em>
                              	<a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                    </dl>
                	</li>
                    <li>
	                	<dl>	
	                        <dd class="grImg"><a href="/item/100326.html"><a href="/item/100326.html"><img src="images/wine/wine02.gif"/></a></dd>
	                    	<dt class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">意大利弗莱斯凯罗葡萄酒</a></dt>
              				<dt class="grPrice"><em class="f-grey-12">市场价:119.00元</em></dt>
                            <dt class="grPrice">
								<em>
									<span class="f-red-12">会员价:</span>
									<span class="f-grey-20-Arial">99.00</span>
									<span class="f-red-12">元</span>
								</em>
                              	<a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                    </dl>
                	</li>
                </ul>
		 	</div>
			<div class="clearit"></div>
<!--#sort-->         
<div class="sort">
<img class="titleimg" src="images/TITLE02.gif" width="113" height="43" />
<div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
</div>
<div class="goodsResult">
<ul class="pagePicView">
<li class="one"><dl><dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine05.gif"/></a></dd>
<dt   class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒</a>
          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
       	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">105.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
   	  </li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine06.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">99.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine07.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt  class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">209.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine08.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">78.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    
   	</ul>

		 </div>
<div class="clearit"></div>

  <!--#ad-->
  <img height="181" width="950" src="images/title_pic02.gif" />
  <!--#sort-->         
<div class="sort">
<img class="titleimg" src="images/TITLE03.gif" width="113" height="43" />
<div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
</div>
<div class="goodsResult">
<ul class="pagePicView">
<li class="one"><dl><dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine09.gif"/></a></dd>
<dt   class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒</a>
          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
       	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">105.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
   	  </li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine06.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">99.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine07.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt  class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">209.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine08.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">78.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    
   	</ul>

		 </div>
<div class="clearit"></div>


<!--#sort-->         
<div class="sort">
<img class="titleimg" src="images/TITLE04.gif" width="135" height="43" />
<div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
</div>
<div class="goodsResult">
<ul class="pagePicView">
<li class="one"><dl><dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine10.gif"/></a></dd>
<dt   class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒</a>
          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
       	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">105.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
   	  </li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine06.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">99.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine07.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt  class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">209.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine08.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">78.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    
   	</ul>

		 </div>
<div class="clearit"></div>

 <!--#ad-->
<img height="181" width="950" src="images/title_pic03.gif" />

<!--#sort-->         
<div class="sort">
<img class="titleimg" src="images/TITLE05.gif" width="113" height="44" />
<div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
</div>
<div class="goodsResult">
<ul class="pagePicView">
<li class="one"><dl><dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine10.gif"/></a></dd>
<dt   class="wine_word"><a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒</a>
          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
       	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">105.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
   	  </li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine06.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">99.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine07.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt  class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">209.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    <li>
					
	                	<dl>
	                    	
	                        <dd class="grImg"><a href="/item/100326.html"><img src="images/wine/wine08.gif"/></a>
                          
	                    	
                            </dd>
	                    	 <dt  class="wine_word">
		                    	<a class="f-black-14-YaHei" href="/item/100326.html">
		                    		意大利弗莱斯凯罗葡萄酒
	                    	  </a>
                          </dt>
              <dt class="grPrice">
		                    	<em class="f-grey-12">市场价:119.00元</em>
                    	  </dt>
                            <dt class="grPrice">
		                    	<em ><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial">78.00</span><span class="f-red-12">元</span></em>
                              <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
	                    	</dt>
	                        
	                    </dl>
                	</li>
                    
   	</ul>

		 </div>