<div class="i_topleft">
  <%= render 'home/topleft' %>
</div>

<div class="i_topcenter">
  <%= render 'home/topcenter' %>
</div>

<div class="i_topright">
  <%= render 'home/topright' %>
</div>

<div class="i_boxcontent">
  <%#  render 'home/hotsales' %>
</div>

<div class="i_boxcontent">
  <%= render 'home/promo' %>
</div>
<!-- 
<div class="i_boxcontent">

  <div class="i_boxlefta">
    <%# render 'home/new' %>
  </div>
  <div class="i_boxrighta">
    <%# render 'home/comments' %>
  </div>

</div>
-->

      

