<!--shoplist-->
<h2 class="shopLtitle">
</h2>

<div class="shopLbox">
    
<!--#sort-->
	<div style="float:left;width:725px;">
		<div class="goodsResult">
			
			<ul class="pagePicView">
				<% if @products.length == 0 %>
				没有符合条件的产品.
				<% end %>
        <%= render @products %>
			</ul>
			<div class="clearit"></div>
			<%= paginate @products %>
    </div>
	</div>
	<div class="clearit"></div>
</div>