<div id="selectpay_div" style="display:none">
	<h1 class="f-black-12">
		<img src="/images/msl_payselect.gif" width="99" height="29" />
		<a href="javascript:cancel_select_pay()">[关闭]</a>
	</h1> 
	<div id="selectpay">
		<input type="radio" name="pay_type" value="支付宝">支付宝
		<input type="radio" name="pay_type" value="货到付款">货到付款
	</div>
	<input type="button" onclick="select_pay();" value="确认付款方式(这里需要修改一下样式)" />
</div>