<div id="selectpay_div">
	<h1 class="f-black-12">
		<img src="/images/msl_payselect.gif" width="99" height="29" />
		<a id="close_link_pay" style="display:none;" href="javascript:cancel_select_pay()">[关闭]</a>
	</h1> 
	<div id="selectpay">
		<input type="radio" name="pay_type_radio" checked value="支付宝">支付宝
		<input type="radio" name="pay_type_radio" value="货到付款">货到付款
	</div>
	<a href="javascript:select_pay();"><img src="/images/confirm_pay.gif" width="120" height="30" class="confirm_btn" /></a>
</div>