<div id="selectpay_div">
	<h1 class="f-black-12">
		<img src="/images/msl_payselect.gif" width="97" height="27" />
	</h1> 
	<div id="selectpay">
		<input type="radio" name="pay_type" checked value="支付宝">支付宝
		<input type="radio" name="pay_type" value="货到付款">货到付款
	</div>
</div>