<div class="clearit bj-sp10"></div>
<div id="mlist_step">
	<img src="/images/mlist_stepTrd.gif" />
</div>
<div id="mlist_detail">
	<div id="nopay_bg">
		<% if flash[:info] %>
		<div class="f-black-14-YaHei"><%= flash[:info] %></div>
		<% end %>
	</div>
	<div align="center">
		<a href="/my/orders">
			<img src="/images/next-step_btn.gif" width="145" height="45" />
		</a>&nbsp;
		<span class="f-grey-12">（点击按钮转到订单管理）</span>
	</div>
</div>
<div class="clearit"></div>