<div class="clearit"></div>
<div id="pd_baseinfo">
	<div class="pd_img"><img src="/images/102596_270x270.jpg" width="270" height="270" /></div>
	<div class="otherdetail">
		<div class="r2">
			<table width="500" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr>
						<td width="389">
							<a class="f-black-20-hei">丹麦蓝罐 曲奇125g</a>
						</td>
						<td width="111">
							<table width="111" cellspacing="0" cellpadding="0" border="0" align="right">
								<tbody>
									<tr>
										<td valign="middle" align="center">
											<img align="absmiddle" src="images/shou1.gif">
									  	</td>
										<td valign="middle" align="center">
											<img align="absmiddle" src="images/shou3.gif">
									  	</td>
										<td valign="middle" align="center">
											<img align="absmiddle" src="images/shou2.gif">
										</td>
									</tr>
									<tr>
										<td valign="middle" align="center">70</td>
										<td valign="middle" align="center">105</td>
										<td valign="middle" align="center">15</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="r5">促销价：
			<span class="f-red-20-Ar">￥138.00</span>
		</div>
		<div class="r5 underline">
			<span class="f-grey-12">市场价：￥398.00</span>
			&nbsp;&nbsp;<span class="f-grey-12">会员价：￥308.00</span>
		</div>
		<span class="f-grey-12"><a href=""></a></span>
		<table width="496" cellspacing="0" cellpadding="0" border="0" class="r4">
 			<tbody>
				<tr>
            		<td width="40" height="45" align="left">数量：</td>
            		<td width="85" align="left"><input type="text" id="winenum" class="winenum" value="1" name="textfield3"></td>
            		<td width="375" align="left" class="f-grey-12"><span class="f-grey-12">已经售出  </span><span class="f-blue-12"><b>65</b></span><span class="f-grey-12"> 件 </span></td>
          		</tr>
          		<tr>
            		<td height="30" colspan="2">品牌: 丹麦蓝罐</td>
            		<td rowspan="2"><a href=""><img src="images/add_cart.gif" alt="" border="0" id="buttonImg" /></a></td>
          		</tr>
          		<tr>
            		<td height="30" colspan="2">规格: 125g </td>
          		</tr>
			</tbody>					
  		</table>
		<div class="activemsg"></div>
		<div class="activemsg">
			<ul class="kc">
		  		<li style="margin: 0pt;"><b>库存：</b></li>
				<li><span>上海仓</span><font id="shanghai">有货</font></li>
				<li>试营业期间，送货范围仅限上海郊环线内 </li>
          	</ul>
		</div>
	</div>
	<div class="clearit"></div>
</div>

<div class="clearit"></div>

<div id="pd_moreinfo" class="otherpd">
    <!-- 主要产品属性 -->
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>

    <td id="pd_attribute">
<h1>商品属性</h1>
		  <table width="90%" border="0" cellspacing="0" cellpadding="0">
		  	<tbody>

	        <tr>
	          <td width="220"><span>商品名称：&nbsp;&nbsp;</span>丹麦蓝罐 曲奇125g </td>
			      <td><span>品    牌：&nbsp;&nbsp;</span>丹麦蓝罐 曲奇</td>
	        </tr>
	        <tr>

			      <td><span>规    格：</span>&nbsp;&nbsp;125g</td>
	          <td><span>包    装：</span>&nbsp;&nbsp;盒</td>
	        </tr>
			    <tr>
				    <td><span>原 产 地：</span>&nbsp;&nbsp;丹麦</td>
				    <td><span>保 质 期：</span>&nbsp;&nbsp;540天</td>

			    </tr>
	        <tr>
	          <td>
	        	    <span>食用方法：</span>&nbsp;&nbsp;开封即食  
		    	  </td>
                  
	          <td>
		      	    <span>商品形态：</span>&nbsp;&nbsp;固态
		    	  </td>
	        </tr>

	        <tr>
	          <td colspan="2"><span>储藏方法：</span>&nbsp;&nbsp;存放于阴凉干爽处，避免阳光直射</td>
	          </tr>
	        <tr>
	          <td colspan="2"><span>成    分：</span>&nbsp;&nbsp;面粉、牛油27％、白砂糖、椰蓉、加仑子、鸡蛋粉、食盐、膨化剂（碳酸氢铵）、香草。   </td>
	          </tr>
		    </tbody>
	    </table>

	  </td>
	  <td id="pd_label">
	   
		  <img src="images/0000389275.jpg" alt="法国隆河谷地圣泉庄园珍藏红" width="300" title="Cotes du Rhone Village Red" />
	  </td>
  </tr>
</table>
<div class="pd_section">
	<div class="insection">
<h1>商品特色</h1>

　　成品色泽金黄，口感香醇，有一股香浓的奶油香味。再配上款款不同的造型，使得每一块曲奇都宛若一件小巧的艺术品，让人爱不释手。丹麦蓝罐曲奇，口味纯正，馥郁怡人，入口时的绵密和鲜奶油散发的稠香使得每一次和它的接触都令人回味无穷。因此丹麦蓝罐曲奇极受品味高尚人士欢迎，送礼也体面过人。 




<div align="center"><img src="images/0000389275.jpg" title="" alt="" /><br />
</div>
<br>




<h1>品牌介绍</h1>

　丹麦蓝罐曲奇来自北欧丹麦的经典美食。多种口味，每款饼干都有不同的花色造型，堪称艺术和美食的完美结合。 

<br>



<h1>温馨提示：</h1>

　由于部分商品包装更换较为频繁，因此您收到的货物有可能与图片不完全一致，请您以收到的商品实物为准，同时我们会尽量做到及时更新，由此给您带来不便请多多谅解，谢谢！
<br>

	</div>
</div>