<div class="clearit bj-sp10"></div>
<div id="mlist_detail">
	<div id="confirm_bg">
		<div class="f-black-14-YaHei">
			您已经注册成功！<br />
			我们已经向您的注册邮箱发送了一封验证邮件。请登陆邮箱激活账号。验证后您就可以登陆。<br />
			<br />
			没有收到邮件？<br />
			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			<a href="#" onclick="javascript:$('#user_new').submit();">再发一封验证邮件到：<%= @email %>。</a>
			<input type="hidden" name="user[email]" value="<%= @email %>">
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>