<% if (devise_error_messages! != nil && devise_error_messages! != '') || (flash[:alert] != nil && flash[:alert] != '') %>
<div class="submit_error">
  <%= devise_error_messages! %>
	<%= flash[:alert] %>
</div>
<% end %>
