<div class="all_sidebar">
    <% if current_user.admin %>
    <div class="ymw">
        <h3>
            <p style="color:#FF6600;">管理员功能</p>
		    </h3>
        <ul>
            <li><a href="">产品管理</a></li>
        </ul>
    </div>
    <% end %>
    <div class="ymj">
        <h3><%= link_to "编辑个人信息", edit_user_registration_path %></h3>
        <div class="mytea_list">
            <h3>我的信息</h3>
            <ul>
                <li><div class='normal_link'><%= link_to "地址信息", addresses_path %></div><li>
                <li><a href="#">我的优惠券</a></li>
                <li><a href="#">我的收藏</a></li>
            </ul>
        </div>
        <div id="mycenter2">
            <div class="mytea_list">
                <h3>订单管理</h3>
                <ul>
                    <li><div class='normal_link'><%= link_to "订单信息", orders_path %></div><li>
                    <li><a href="#">已购商品</a></li>
                </ul>
            </div>
            <div class="mytea_list">
                <h3>我的客服</h3>
                <ul>
                    <li><a href="#">我的投诉</a></li>
                </ul>
            </div>
            <div class="mytea_list">
            </div>
        </div>
    </div>
</div>

