<div class='normal_link'><%= link_to "账户信息", edit_user_registration_path %></div>
<div class='normal_link'><%= link_to "地址信息", addresses_path %></div>
<div class='normal_link'><%= link_to "订单信息", orders_path %></div>
