<p><%= @resource.email -%> 您好！</p>

<p>我们收到您的重设密码请求。请点击下面的链接完成密码重设操作：</p>

<p><%= link_to '重设密码 Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有要求过重设密码，请忽略本邮件。只要您没有点击以上链接并输入新密码，当前帐号密码不会改变。</p>

<p>Hello <%= @resource.email -%>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
