<p><%= @resource.email -%> 您好！</p>

<p>由于登录失败次数过多，您的帐号被锁定。请点击下面的链接来解锁帐号：</p>

<p><%= link_to '解锁', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>Hello <%= @resource.email -%>!</p>

<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
