<div class="topbox">
    <div class="title">
        浏览记录
    </div>
    <div class="wineimglist" id="browseList">
    </div>
    <div class="wineimglist">
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="200">
            <tbody>
                <tr>
                    <td height="25" align="right" colspan="3">
                        <a href="#" onclick="javascript:browseGoods.clearAllBrowse(); return false;">清除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
