<div class="topbox">
    <div class="title">
        <img src="/images/ico5(1).gif" width="18" height="17" align="absbottom">特殊选酒
    </div>
    <table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td width="57" height="25" align="center" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_PARTY_-1_1_1.html" id="situation_PARTY" name="situationA" onclick="goodsList.chooseSituation(&#39;PARTY&#39;)">聚会用</a>
                </td>
                <td width="57" align="left" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_DATE_-1_1_1.html" id="situation_DATE" name="situationA" onclick="goodsList.chooseSituation(&#39;DATE&#39;)">约会用</a>
                </td>
                <td width="57" align="left" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_SELF_-1_1_1.html" id="situation_SELF" name="situationA" onclick="goodsList.chooseSituation(&#39;SELF&#39;)">自饮用</a>
                </td>
                <td width="40" align="left" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_BUSINESS_-1_1_1.html" id="situation_BUSINESS" name="situationA" onclick="goodsList.chooseSituation(&#39;BUSINESS&#39;)">商务用</a>
                </td>
            </tr>
            <tr>
                <td height="25" align="center" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_WEDDING_-1_1_1.html" id="situation_WEDDING" name="situationA" onclick="goodsList.chooseSituation(&#39;WEDDING&#39;)">婚宴用</a>
                </td>
                <td align="left" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_COLLECT_-1_1_1.html" id="situation_COLLECT" name="situationA" onclick="goodsList.chooseSituation(&#39;COLLECT&#39;)">收藏用</a>
                </td>
                <td align="left" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_GIFT_-1_1_1.html" id="situation_GIFT" name="situationA" onclick="goodsList.chooseSituation(&#39;GIFT&#39;)">送礼用</a>
                </td>
                <td align="left" valign="bottom">
                    <a class="snf1" href="http://www.yesmywine.com/goods/-1_-1_-1_-1_-1_-1_-1_-1_-1_-1_%E8%AE%BE%E6%8B%89%E5%AD%90_1_1.html#"></a>
                </td>
            </tr>
            <tr>
                <td height="12" colspan="4">
                </td>
            </tr>
        </tbody>
    </table>
</div>

