<table>
	<tr>
		<td>产品</td>
		<td>单价</td>
		<td></td>
	</tr>
	<% @items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
		<td><%= item.price %></td>
		<td>
			
		</td>
		<td></td>
	</tr>
	<% end %>
</table>
