<script language="javascript">
            function btnWineClick(subMenuID, subButtonID){
                if (document.getElementById(subMenuID).style.display != "none") {
                    document.getElementById(subMenuID).style.display = "none";
                    document.getElementById(subButtonID).src = "images/jiahao.gif";
                    
                    return;
                }
                if (document.getElementById(subMenuID).style.display == "none") {
                    document.getElementById(subMenuID).style.display = "block";
                    document.getElementById(subButtonID).src = "images/jianhao.gif";
                    return;
                }
            }
</script>
<script language="javascript">
    lastScrollY = 0;
    
    var InterTime = 1;
    var maxWidth = -1;
    var minWidth = -165;
    var numInter = 8;
    
    var BigInter;
    var SmallInter;
    
    var o = document.getElementById("selectmywine");
    var i = parseInt(o.style.left);
    function Big(){
        if (parseInt(o.style.left) < maxWidth) {
            i = parseInt(o.style.left);
            i += numInter;
            o.style.left = i + "px";
            if (i == maxWidth) 
                clearInterval(BigInter);
        }
    }
    
    function toBig(){
        clearInterval(SmallInter);
        clearInterval(BigInter);
        BigInter = setInterval(Big, InterTime);
    }
    
    function Small(){
        if (parseInt(o.style.left) > minWidth) {
            i = parseInt(o.style.left);
            i -= numInter;
            o.style.left = i + "px";
            
            if (i == minWidth) 
                clearInterval(SmallInter);
        }
    }
    
    function toSmall(){
        clearInterval(SmallInter);
        clearInterval(BigInter);
        SmallInter = setInterval(Small, InterTime);
        
    }
</script>
<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname">
		<img src="images/s_wine01.gif"  alt="葡萄酒" width="113" height="48" />
	</div>
</h2>

<div class="shopLbox">
	<div class="listL">
		<UL>
			<LI><span class="on"><a href="#">葡萄酒种类</a></span>
				<ul class="wine">
					<LI><a href="#">红葡萄酒</a></LI>
					<LI><a href="#">白葡萄酒</a></LI>
					<LI><a href="#">桃红葡萄酒</a></LI>
					<LI><a href="#">起泡酒</a></LI>
				</ul>

			</LI>
			<LI><span><a href="#">价 格</a></span>
				<ul>
					<LI><a href="#">1-99元</a></LI>
					<LI><a href="#">100-199元</a></LI>
					<LI><a href="#">200-299元</a></LI>
					<LI><a href="#">300-399元</a></LI>
					<LI><a href="#">400-799元</a></LI>
					<LI><a href="#">不限</a></LI>
				</ul>
				<div class="clearit"></div>
			</LI>
			<LI><span><a href="#">国 家</a></span>
				<ul>
					<LI><a href="#">法国</a></LI>
					<LI><a href="#">澳大利亚</a></LI>
					<LI><a href="#">美国</a></LI>
					<LI><a href="#">智利</a></LI>
					<LI><a href="#">新西兰</a></LI>
					<LI><a href="#">阿根廷</a></LI>
				</ul>
				<div class="clearit"></div>
			</LI>
			<LI><span><a href="#">使用场合</a></span>
				<ul>
					<LI><a href="#">聚餐用</a></LI>
					<LI><a href="#">约会用</a></LI>
					<LI><a href="#">自饮用</a></LI>
					<LI><a href="#">商务用</a></LI>
					<LI><a href="#">婚宴用</a></LI>
					<LI><a href="#">送礼用</a></LI>
				</ul>
				<div class="clearit"></div>
			</LI>
		</UL>
	</div>            
       
<!--#sort-->         
	<div style="float:left;width:720px;">
		<div class="goodsResult">
			<ul class="pagePicView">
				<% @products.each do |product| %>
				<li class="one">
					<dl>
						<dd class="grImg"><%= link_to image_tag(product.pic, :alt => product.cn_name), product_path(product) %></dd>
						<dt class="wine_word"><%= link_to product.cn_name, {:class => 'f-black-14-YaHei'}, product_path(product) %></dt>
						<dt class="grPrice"><em class="f-grey-12">市场价:<%= format "%.2f", product.indication_price %>元</em></dt>
				        <dt class="grPrice">
				        	<em><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial"><%= format "%.2f", product.price %></span><span class="f-red-12">元</span></em>
				            <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
				        </dt> 
				    </dl>
				</li>
				<% end %>
			</ul>
			<div class="clearit"></div>
			<table border="0" align="center" cellpadding="0" cellspacing="5" class="list_num">
  				<tr>
				    <td class="current">1</td>
				    <td><a href="#">2</a></td>
				    <td><a href="#">3</a></td>
				    <td><a href="#">4</a></td>
				    <td><a href="#">5</a></td>
				    <td><a href="#">6</a></td>
				    <td><a href="#">7</a></td>
				    <td><a href="#">8</a></td>
				    <td><a href="#">&raquo;</a></td>
				</tr>
			</table>
    	</div>
	</div>
</div>