<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname">
		<img src="/images/s_wine01.gif"  alt="葡萄酒" width="113" height="48" />
	</div>
</h2>

<div class="shopLbox">
  <%= render :partial => "products/shopleftbar" %>
       
<!--#sort-->
	<div style="float:left;width:725px;">
		<div class="goodsResult">
			
			<ul class="pagePicView">
				<% if @products.length == 0 %>
				没有符合条件的产品.
				<% end %>
        <%= render @products %>
			</ul>
			<div class="clearit"></div>
			<%= paginate @products %>
    </div>
	</div>
	<div class="clearit"></div>
</div>