<!-- <div class="clearit"></div>
<div id="my_ac">
	<div id="ac_header"><img src="/images/myaccount_header.gif" width="130" height="130" /></div>
	<div id="ac_baseinfo">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="user_name" class="f-black-20-hei"><%= current_user.email %></td>
				<td><div id="user_ps"><span class="f-org-12-b">消息提醒：</span>您有 <span class="f-blue-12">0</span> 张优惠券可以使用</div></td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="user_detail">
			<tr>
				<td width="35%">上次登录时间：2011-04-15 14:15:25 </td>
				<td width="35%">您的帐户余额： <span class="f-red-20-Ar-b">200.5</span> 元</td>
				<td rowspan="3"><img src="/images/chongzhi_btn.gif" width="114" height="32" /></td>
			</tr>
			<tr>
				<td>手机绑定： 未绑定 <span class="f-blue-12">[立即绑定]</span> </td>
				<td>现有可用积分： <span class="f-gren-20-Ar-b">255</span> 分 </td>
			</tr>
			<tr>
				<td>会员级别： <span class="f-blue-12">[积分规则]</span> </td>
				<td>历史累积积分： <span class="f-gren-20-Ar-b">635</span> 分 </td>
			</tr>
		</table>
	</div>
	<div class="clearit"></div>
</div> -->