<div id="ac_left">
	<div class="contentbox">
		<h2><img src="/images/myac_h2.gif" width="79" height="40" /></h2>
		<ul>
			<li><a href="#">个人资料</a></li>
			<li><a href="/my/password">修改密码</a></li>
			<li><a href="/my/account">我的账户</a></li>
			<!-- <li><a href="/my/bought">我的积分</a></li> -->
			<!-- <li><a href="/my/money">充值提现</a></li> -->
			<li><a href="/my/addresses">我的地址簿</a></li>
		</ul>
	</div>
	<div class="bj-sp10"></div>
	<div class="contentbox">
		<h2><img src="/images/mylist_h2.gif" width="79" height="40" /></h2>
		<ul>
			<li class="utitle">订单管理</li>
			<li><a href="/my/orders">全部订单</a></li>
			<!-- <li><a href="/my/bought">已购商品</a></li> -->
		</ul>
		<ul>
			<li class="utitle"><a href="#">我的信息</a></li>
			<li><a href="/my/coupons">我的优惠券</a></li>
			<!-- <li><a href="/my/favorites">我的收藏</a></li> -->
			<!-- <li><a href="/my/books">我的预约</a></li> -->
		</ul>
	</div>
</div>