<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">修改密码</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<%= form_tag 'change_password' do %>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfoL">
				<tbody>
					<tr>
					    <td height="30" width="100" class="tcenter">旧密码</td>
					    <td><input type="text" name="address[name]" value="" /></td>
					</tr>
					<tr>
					    <td height="30" width="100" class="tcenter">新密码</td>
					    <td><input type="text" name="address[name]" value="" /></td>
					</tr>
					<tr>
					    <td height="30" width="100" class="tcenter">确认密码</td>
					    <td><input type="text" name="address[name]" value="" /></td>
					</tr>
			    </tbody>
			</table>
			<div class="bj-sp10"></div>
			<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
            	<tbody>
					<tr>
				    	<td width="100%" valign="middle" align="middle">
				        	<a href="javascript:$('#submitButton').click();"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
				        </td>
				    </tr>
				</tbody>
			</table>
			<input id="submitButton" type="submit" style="display:none;" value="保存" />
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>