<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li><a href="/my/addresses">我的地址簿</a></li>
			<li><a href="/my/new_address">添加地址</a></li>
			<li class="on">编辑地址</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<%= form_tag '/my/update_address/' + @address.id.to_s do %>
			<%= render 'form_address' %>
			<div class="bj-sp10"></div>
			<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
            	<tbody>
					<tr>
				    	<td width="100%" valign="middle" align="middle">
				        	<a href="javascript:$('#submitButton').click();"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
				        </td>
				    </tr>
				</tbody>
			</table>
			<input id="submitButton" type="submit" style="display:none;" value="保存" />
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>