<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">修改密码</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">

		</div>
	</div>
</div>
<div class="clearit"></div>