<div class="bottom_left">
    仅限18周岁以上人士购买
</div>
<div class="bottom_right">
    <a href="#" class="red">公司简介</a> 　
    <span class="red">|</span> 　
    <a href="#" class="red">诚聘英才</a> 　
    <span class="red">|</span> 　
    <a href="#" class="red">隐私申明</a>
</div>
