<div>
    <a href="#">友情链接：</a>
    <a href="#" target="_blank">新浪</a>
    <a href="#" target="_blank">网易</a>
    <a href="#" target="_blank">谷歌</a> 　 
    <a href="#" target="_blank">微软</a> 　 
    <a href="#" target="_blank">淘宝</a>
    <a href="#" target="_blank">阿里巴巴</a>
</div>
