<div>
    友情链接：
    <%= link_to "natware", "http://www.natware.com", :target => '_blank' %>
    <a href="http://www.caigen.org" target="_blank">菜根希望小学</a>
    <a href="http://www.imphotobook.com" target="_blank">ImPhotoBook</a>
    <a href="http://www.ppweek.com" target="_blank">ppweek</a>
    <a href="http://www.anjuke.com" target="_blank">安居客</a>
    <a href="http://www.dkuai.com" target="_blank">多快</a>
    <a href="http://www.hotmail.com">hotmail</a>
</div>
