<div class="copyright">
	<div id="cp_logo"><a href="#"><img  src="/images/copyright.gif"/></a></div>
	<div id="cp_info">12度红酒网 版权所有 2011&copy;&nbsp;<a target="_blank" href="http://www.miibeian.gov.cn/">沪ICP备0123456789号</a></div>
</div>

