<div class="fLink">
		<ul>
    		<li class="fLink01">
        		<dl>
		<dt><img height="22" width="95" src="/images/footer01.gif"/></dt>
            		<dd><a href="/help/new_user">注册新用户</a></dd>
              		<dd><a href="/help/new_user#flow">网站订购流程</a></dd>
            		<dd><a href="/help/new_user#point">积分规则</a></dd>    
        		</dl>
    		</li>
    		<li class="fLink02">
        		<dl>
            		<dt><img height="23" width="136" src="/images/footer02.gif"/></dt>
            		<dd><a href="/help/pay_for">支付方式</a></dd>
               		<dd><a href="/help/pay_for#wait">各支付方式的付款等待期限</a></dd>
            		<dd><a href="/help/pay_for#desc">发票支付说明</a></dd>
        		</dl>
    		</li>
    		<li class="fLink03">
        		<dl>
		<dt><img src="/images/footer03.gif" width="106" height="25"/></dt>
            		<dd><a href="/help/delivery">货到付款城市及配送时间</a></dd>
		<dd><a href="/help/delivery#cost">配送费收取标准</a></dd>
        		</dl>
    		</li>
    		<li class="fLink04">
        		<dl>
            		<dt><img src="/images/footer04.gif" width="96" height="22"/></dt>
            		<dd><a href="/help/after_service">退换货政策</a></dd>
              		<dd><a href="/help/after_service#how">如何办理退换货</a></dd>
        		</dl>
     		</li>
    		<li class="fLink05">
        		<dl>
            		<dt><img src="/images/footer05.gif"/></dt>
            		<dd><a href="/help/qa">常见热点问题</a></dd>
              		<dd><a href="/help/qa#contact">联系我们</a></dd>
              		<dd><a href="/help/qa#suggest">投诉与建议</a></dd>
             		<dd><a href="/help/qa#groupon">团购规则</a></dd>
        		</dl>
     		</li>
		</ul>
		<div class="clearit"></div>
</div>
