<ul>
    <li>
        <a onmouseover="showDivList('Subto1')" onmouseout="hideDivList('Subto1')" class="snf0">买酒荐酒<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto1" onmouseover="showDivList('Subto1')" onmouseout="hideDivList('Subto1')">
            <div class="Subtobox">
                <div class="r1">
                    <a href="" class="snf2">买酒荐酒<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
                <div class="r2" style="border:0">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">红葡萄酒</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">白葡萄酒</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">桃红葡萄酒</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">起泡酒</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">加强葡萄酒</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">烈酒</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">其他</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a onmouseover="showDivList('Subto2')" onmouseout="hideDivList('Subto2')" class="snf0">礼酒专区<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto2" onmouseover="showDivList('Subto2')" onmouseout="hideDivList('Subto2')">
            <div class="Subtobox">
                <div class="r1 snf2">
                    <a href="" class="snf2">礼酒专区<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
                <div class="r2" style="border:0;">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">1-99元</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">100-199元</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">200-299元</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">300-499元</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">500-799元</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">800-999元</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">1000元以上</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a onmouseover="showDivList('Subto3')" onmouseout="hideDivList('Subto3')" class="snf0">酒具专区<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto3" onmouseover="showDivList('Subto3')" onmouseout="hideDivList('Subto3')">
            <div class="Subtobox">
                <div class="r1 snf2">
                    <a href="" class="snf2">酒具专区<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
                <div class="r2" style="border:0;">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">酒柜</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">酒鼻子</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">酒杯</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">礼盒</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a onmouseover="showDivList('Subto4')" onmouseout="hideDivList('Subto4')" class="snf0">场合选酒<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto4" onmouseover="showDivList('Subto4')" onmouseout="hideDivList('Subto4')">
            <div class="Subtobox">
                <div class="r1 snf2">
                    <a href="" class="snf2">场合选酒<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
                <div class="r2" style="border:0;">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">聚会用</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">约会用</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">自饮用</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">商务用</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">婚宴用</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">收藏用</a>
                </div>
                <div class="r2">
                    <a href="" class="snf1"><img src="/images/ico7.gif" align="absmiddle">送礼用</a>
                </div>
            </div>
        </div>
    </li>
    <li style="width:90px;">
        <a class="snf0" href="">品酒会</a>
    </li>
    <li style="width:100px;">
        <a class="snf0" href="">红酒生活</a>
    </li>
    <li>
        <a class="snf0" href="">论坛</a>
    </li>
</ul>
