<div id="menu">
  <ul>
		<li class="index"><a href="/"><img src="/images/homepage.gif" width="86" height="31" alt="首页" /></a></li>
		<li><a href="#"><img src="/images/promotion_zone.gif" width="80" height="31" /  alt="促销专区"></a></li>
		<li><a href="#"><img src="/images/free_directory.gif" width="120" height="31" alt="免费索取目录" /></a></li>
		<li><a  href="#"><img src="/images/buy_limit.gif" width="80" height="31" alt="限时抢购" /></a></li>
	</ul>
</div>
<div id="search">
  <input type="text" id="keywordTop" onkeydown="javascript:if(event.keyCode == 13){window.location.href = '<%= search_path_without_keywords %>' + $('#keywordTop').val();}"  value="<%= params[:keywords] %>" />
	<a href="javascript:window.location.href = '<%= search_path_without_keywords %>' + $('#keywordTop').val();">
	  <img src="/images/btn_search.gif" width="67" height="30" alt="限时抢购" />
	</a>
</div>
