<div id="menu">
  <ul>
		<li class="index"><a href="/"><img src="/images/home_on.gif" alt="首页" /></a></li>
		<li class="index"><a href="/category/0-0-0-0-0-0-0-54-0-0/"><img src="/images/white_off.gif" alt="白葡萄酒" /></a></li>
		<li class="index"><a href="/category/0-0-0-0-0-0-0-52-0-0/"><img src="/images/red_off.gif" alt="红葡萄酒" /></a></li>
		<li class="index"><a href="#"><img src="/images/promo_off.gif" alt="促销专区" /></a></li>		
	</ul>
</div>
<div id="search">
  <input type="text" id="keywordTop" onkeydown="javascript:if(event.keyCode == 13){window.location.href = '<%= init_search_path %>' + $('#keywordTop').val();}"  value="<%= params[:keywords] %>" />
	<a href="javascript:window.location.href = '<%= init_search_path %>' + $('#keywordTop').val();">
	  <img src="/images/btn_search.gif" width="67" height="30" alt="限时抢购" />
	</a>
</div>
