<div class="cent_1">
    <div class="ico_01">
        <div class="ico_img_01">
            <img src="/images/ico_01.gif" width="19" height="14">
        </div>
        <div class="ico_img_zi1">
            <span class="text_b"><a href="">新手指南</a></span>
            <br>
            <a href="">注册新用户</a>
            <br>
            <a href="">网站订购流程</a>
            <br>
            <a href="" class="red">新积分规则</a>
        </div>
    </div>
    <div class="ico_02">
        <div class="ico_img_02">
            <img src="/images/ico_02.gif" width="19" height="14">
        </div>
        <div class="ico_img_zi2">
            <span class="text_b"><a href="">如何付款/退款</a></span>
            <br>
            <a href="">支付方式</a>
            <br>
            <a href="">各支付方式的付款等待期限</a>
            <br>
            <a href="">发票制度说明</a>
        </div>
    </div>
    <div class="ico_03">
        <div class="ico_img_03">
            <img src="/images/ico_03.gif" width="24" height="13">
        </div>
        <div class="ico_img_zi3">
            <span class="text_b"><a href="">配送方式</a></span>
            <br>
            <a href="">货到付款城市及配送时间</a>
            <br>
            <a href="">配送费收取标准</a>
        </div>
    </div>
    <div class="ico_04">
        <div class="ico_img_04">
            <img src="/images/ico_04.gif" width="14" height="14">
        </div>
        <div class="ico_img_zi3">
            <span class="text_b"><a href="">售后服务</a></span>
            <br>
            <a href="">退换货政策</a>
            <br>
            <a href="">如何办理退换货</a>
        </div>
    </div>
    <div class="ico_04">
        <div class="ico_img_04">
            <img src="/images/ico_05.gif" width="15" height="16">
        </div>
        <div class="ico_img_zi3">
            <span class="text_b"><a href="">帮助中心</a></span>
            <br>
            <a href="">常见热点问题</a>
            <br>
            <a href="">联系我们</a>
            <br>
            <a href="">投诉与建议</a>
            <br>
            <a href="">团购规则</a>
            <br>
        </div>
    </div>
</div>
