<div class="searchbox">
	<% form_tag ({:action=>'search',:controller=>'store'}, :method=>:get, :name => :search) do %>
    <input type="text" name="key" id="keywordTop" class="tsi" />
    <a href="javascript:document.search.submit();">
      <img src="/images/searchmenu.gif" align="absmiddle" border="0" />
    </a>
  <% end %>
</div>
<div class="hotbox">
  <a class="snf1" href="">波尔多</a>
  <a class="snf1" href="">智利</a>
  <a class="snf1" href="">赤霞珠</a>
  <a class="snf1" href="">设拉子</a>
  <a class="snf1" href="">翠岭</a>
  <a class="snf1" href="">木桐</a>
  <a class="snf1" href="">圣泉</a>
</div>
<!--
<div class="snapping_up1">
  <a href="#">距抢购活动<span id="startEnd">结束</span>时间</a>: <b><span id="timeDay">0</span></b>天<b><span id="timeHour">5</span></b>时<b><span id="timeMin">45</span></b>分<b><span id="timeSec">25</span></b>秒
</div>
-->
