<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>12度红酒网</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css" />
        <link rel="stylesheet" type="text/css" href="/css/floatdiv.css" />
        <script language="text/javascript">
            function btnWineClick(subMenuID, subButtonID){
            
                if (document.getElementById(subMenuID).style.display != "none") {
                    document.getElementById(subMenuID).style.display = "none";
                    document.getElementById(subButtonID).src = "/images/jiahao.gif";
                    return;
                }
                if (document.getElementById(subMenuID).style.display == "none") {
                    document.getElementById(subMenuID).style.display = "block";
                    document.getElementById(subButtonID).src = "/images/jianhao.gif";
                    return;
                }
            }
        </script>
    </head>
    <body>
        <div class="wrap">
<!--#header-->
            <div id="header">
                <div id="logo"><img src="/images/blank.gif" width="204" height="97" /></div>
                <div id="shopcart">
					<div id="cartico">
                    	<img src="/images/shopping_cart.gif" width="32" height="31" />
                	</div>
                 	<div id="carttext">
                    	<span class="f-black-arial-12">SHOPPING CART 购物车</span><br />
                    	<a href="#">现在您购物车有0件商品</a></div>
              		</div>
					<div id="login" class="f-grey-12">
                    	<a href="#">注册</a> | <a href="#">登录</a> | <a href="#">我的账户</a>
                	</div>
                  	<div id="tele-usico">
                    	<img src="/images/telephone.gif" width="139" height="23" />
                	</div>
                	<div id="tele-usnum">
                    	<img src="/images/telephone_no.gif" width="196" height="22" />
                	</div>
            	</div>
<!--#nav--> 
     			<div id="nav">
           			<div id="menu">
						<ul>
           					<li class="index"><a href="/"><img src="/images/homepage.gif" width="86" height="31" alt="首页" /></a></li>
           					<li><a href="#"><img src="/images/promotion_zone.gif" width="80" height="31" /  alt="促销专区"></a></li>
           					<li><a href="#"><img src="/images/free_directory.gif" width="120" height="31" alt="免费索取目录" /></a></li>
           					<li><a  href="#"><img src="/images/buy_limit.gif" width="80" height="31" alt="限时抢购" /></a></li>
           				</ul>
                    </div>
	               	<div id="search">     
	            		<input value="请输入您要搜索的商品名称" type="text" />
	             		<a href="#"><img src="/images/btn_search.gif" width="67" height="30" alt="限时抢购" /></a>
	             	</div>
				</div>
				<%= yield %>
<!--#footer-->
				<div id="footer">
<!-- footer start -->
	        		<div class="fLink">
	            		<ul>
	                		<li class="fLink01">
	                    		<dl>
									<dt><img height="22" width="95" src="/images/footer01.gif"/></dt>
	                        		<dd><a href="#">注册新用户</a></dd>
	                          		<dd><a href="#">网站订购流程</a></dd>
	                        		<dd><a href="#">新积分规则</a></dd>    
	                    		</dl>
	                		</li>
	                		<li class="fLink02">
	                    		<dl>
	                        		<dt><img height="23" width="136" src="/images/footer02.gif"/></dt>
	                        		<dd><a href="#">支付方式</a></dd>
	                           		<dd><a href="#">各支付方式的付款等待期限</a></dd>
	                        		<dd><a href="#">发票支付说明</a></dd>
	                    		</dl>
	                		</li>
	                		<li class="fLink03">
	                    		<dl>
									<dt><img src="/images/footer03.gif" width="106" height="25"/></dt>
	                        		<dd><a href="#">货到付款城市及配送时间</a></dd>
									<dd><a href="#">配送费收取标准</a></dd>
	                    		</dl>
	                		</li>
	                		<li class="fLink04">
	                    		<dl>
	                        		<dt><img src="/images/footer04.gif" width="96" height="22"/></dt>
	                        		<dd><a href="#">退换货政策</a></dd>
	                          		<dd><a href="#">如何办理退换货</a></dd>
	                    		</dl>
	                 		</li>
	                		<li class="fLink05">
	                    		<dl>
	                        		<dt><img src="/images/footer05.gif"/></dt>
	                        		<dd><a href="#">常见热点问题</a></dd>
	                          		<dd><a href="#">联系我们款</a></dd>
	                          		<dd><a href="#">投诉与建议</a></dd>
	                         		<dd><a href="#">团购规则</a></dd>
	                    		</dl>
	                 		</li>
	            		</ul>
	            		<div class="clearit"></div>
	        		</div>
<!--copyright start-->
	        		<div class="copyright">
	        			<div id="cp_logo"><a href="#"><img  src="/images/copyright.gif"/></a></div>
	        			<div id="cp_info">12度红酒网 版权所有 2011&copy;&nbsp;<a target="_blank" href="http://www.miibeian.gov.cn/">沪ICP备0123456789号</a></div>
	        		</div>
<!--copyright end-->
<!-- footer end -->
				</div>
			</div>
		</div>
    </body>
</html>